{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3>Novo Usuário</h3>
    <form method="POST" action="{{ url_for('add_usuario') }}">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Usuário</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="perfil" class="form-label">Perfil</label>
            <select class="form-select" id="perfil" name="perfil" required>
                <option value="Admin">Admin</option>
                <option value="Operador">Operador</option>
				<option value="Visualizador">Visualizador</option>

            </select>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{{ url_for('add_usuario') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
